@font-face {
      font-family: 'Baloo Bhai';
      src: url('../assets/fonts/BalooBhai-Regular.woff2') format('woff2'),
      url('../assets/fonts/BalooBhai-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}

html, body {
      font-family: alfabet, sans-serif;
}
